* {
  box-sizing: border-box;
}

/* Styles for the search container */
.search-container {
    text-align: center;
    margin: 20px auto;
    max-width: 400px; /* Adjust the maximum width as needed */
}

/* Style for the search input */
#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 12px;
}

/* Style for the table */
#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

/* Style for the Edit and Delete buttons */
.button-container {
    display: flex;
    justify-content: flex-end;
}

.button-container button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.button-container button.delete {
    background-color: #ff0000;
}
