<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Data Table</title>
     {% load static %}  <!-- Load the static tag library here -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/customeraccount.css' %}">
</head>
<body>
<div class="search-container">

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
</div>
    <div class="table-container">
        <table id="myTable">
                <tr class="header">
                    <th>Account ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Zipcode</th>
                    <th>Birthdate</th>
                    <th>Created Date</th>
                </tr>
                <tr>
                     {% for customer_data in customer_data_list %}
                    <td>{{ customer_data.accountID }}</td>
                    <td>{{ customer_data.firstname }}</td>
                    <td>{{ customer_data.lastname }}</td>
                    <td>{{ customer_data.email }}</td>
                    <td>{{ customer_data.phone_number }}</td>
                    <td>{{ customer_data.address }}</td>
                    <td>{{ customer_data.state }}</td>
                    <td>{{ customer_data.city }}</td>
                    <td>{{ customer_data.zipcode }}</td>
                    <td>{{ customer_data.birthdate }}</td>
                    <td>{{ customer_data.created_date }}</td>
                     <td>
                     <div class="button-container">
                         <button onclick="editRecord(this)" class="edit-button">Edit</button>
                         <button onclick="deleteRecord(this)" class="delete-button">Delete</button>
                     </div>
                 </td>
                </tr>


                {% empty %}
                <tr>
                    <td colspan="11">No customer accounts available.</td>
                </tr>
            {% endfor %}
                <!-- Add more rows as needed -->
        </table>
 <div class="pagination">
            <span id="prev-page">&laquo;</span>
            <span class="page-number active">1</span>
            <!-- Additional page numbers will be added dynamically when needed -->
            <span id="next-page">&raquo;</span>
        </div>
    {% load static %}
    <script src="{% static 'js/customeraccount.js' %}"></script>
<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
</body>
</html>
