<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}  <!-- Load the static tag library here -->
    <link href="{% static 'css/updateform.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<form class="form">
    <h1>Updating Record {{customer_id}}: {{firstname}} {{lastname}}</h1>
    <p type="Firstname:"><input placeholder="update firstname here...."></input></p>
    <p type="Lastname:"><input placeholder="update lastname here..."></input></p>
    <p type="Phone numbers:"><input type="tel" placeholder="update phone number here..."></input></p>
    <p type="Email:"><input type="email" placeholder="update email here..."></input></p>
    <p type="State:"><input placeholder="update state here..."></input></p>
    <p type="City:"><input placeholder="update city here..."></input></p>
    <p type="Zipcode:"><input placeholder="update zipcode here..."></input></p>
    <p type="Birthdate:"><input type="date" placeholder="update Birthdate here..."></input></p>
    <button>Send</button>
     <a href="{% url 'customeraccount' user_identifier=user_identifier %}" class="nav search">
    <i class="fa fa-search"></i> back
</a>
</form>
</body>
</html>