<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    {% load static %}  <!-- Load the static tag library here -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/yourpage.css' %}">
</head>
<body>
<!--  <h1>Welcome, {{ user_identifier }}</h1>-->
 <div class="nav-bar" id="navbar">
<a href="{% url 'customeraccount' user_identifier=user_identifier %}" class="nav search">
    <i class="fa fa-search"></i> Customer Account
</a>

     <a href="#" class="nav following"><i class="fa fa-user-plus"></i>Product or Services</a>
     <a href="#" class="nav following"><i class="fa fa-user-plus"></i>Order Detail</a>
	<a href="#" class="nav following"><i class="fa fa-user-plus"></i>Marketing</a>
	<a href="#" class="nav settings"><i class="fa fa-user-plus"></i>Report</a>
</div>



</body>
</html>